
web.config
.vs/DiceRoller/FileContentIndex/9ca68314-48cc-4b0a-9e79-d34173c840d9.vsidx
.vs/DiceRoller/config/applicationhost.config
.vs/DiceRoller/FileContentIndex/b2cbeea3-43e5-4fb9-aae5-a53a0c33de6c.vsidx
.vs/slnx.sqlite
.vs/DiceRoller/FileContentIndex/3aeea822-4d8a-4dc5-8a60-b6b64b14cf09.vsidx
*.vsidx
